.editProfile {
    text-align: center;
}
.back {
    padding: 80px 20px 0;
}
.back a {
    text-decoration: none;
    color: #0D2855;
}
.form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    /* align-items: center; */
    padding: 10px 10px;
   
}
.container {
    box-sizing: border-box;
    max-width: 100%;
    padding: 25px 30px;
}
.container form .form-container, .select-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}
form .form-container .input-box,
.select-container .input-box {
    margin-bottom: 15px;
    width: 100%;
    
}
.form-container .input-box .details,
.select-container .input-box .details {
    margin-bottom: 5px;
    display: block;
    
}
.form-container .input-box input, select {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    box-sizing: border-box;
}
.container form .buttonContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}
form .buttonContainer button {
    height: 45px;
    width: 100%;
    outline: none;
    color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
    position: relative;
    background-color:#0D2855;
}

.courseTitleError{
    color: red;
    font-size: 16px;
    display: none;
}
.courseCodeError{
    color: red;
    font-size: 16px;
    display: none;
}
.videoError{
    color: red;
    font-size: 16px;
    display: none;
}
.deptError{
    color: red;
    font-size: 16px;
    display: none;
}
.levelError{
    color: red;
    font-size: 16px;
    display: none;
}
.error{
    color: red;
    font-size: 12px;
    display: none;
}
.displayError{
    display: block;
}
.success {
    background-color: red;
    padding: 5px 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    display: none;
}
.buttonText {
    transition: all 0.2s;
}

.buttonLoading .buttonText {
    visibility: hidden;
    opacity: 0;
}
.buttonLoading::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 5px solid transparent;
    border-top-color: white;
    border-radius: 50%;
    animation: button-loading-spiner 1s ease infinite;
}
@keyframes button-loading-spiner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}
@media screen and (min-width: 998px) {
    .form {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .container {
        max-width: 1000px;
        width: 100%;
    }
    form .form-container .input-box,
    .select-container .input-box  {
        margin-bottom: 15px;
        width: calc(100%/2 - 20px);
    }
    .container form .buttonContainer {
        margin-top: 40px;
    }
    form .buttonContainer button {
        width: calc(100%/2 - 20px);
    }
}
